{% extends 'base.html.twig' %}

{% block title %}
    Year Counter
{% endblock %}

{% block stylesheets %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}
    {#<link rel="stylesheet" href="/build/app.css">#}
{% endblock %}

{% block body %}
    <v-layout column>
        <div class="form-container">
            {% form_theme form 'form/fields.html.twig' %}
            {{ form_widget(form, {'attr': {'id': 'new-counter-form'}}) }}
        </div>
        <div>
            <App :counters="{{ counters }}"/>
        </div>
    </v-layout>
{% endblock %}

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {#<script src="/build/runtime.js"></script>#}
    {#<script src="/build/app.js"></script>#}
{% endblock %}