{% extends 'base.html.twig' %}

{% block title %}
    Year Counter
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn" value="Create"/>
    {{ form_end(form) }}
    {% for counter in counters %}
        <div>
            <span>{{ counter.name }}</span>
        </div>
    {% endfor %}
{% endblock %}